.assignmentNav {
  background: #cbeaf1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assignmentNav .backButtonAndText {
  padding: 20px 50px 20px 100px;
  cursor: pointer;
}

.assignmentNav .backButton {
  margin-right: 20px;
}

.assignmentNav .courseAdminButton {
  margin-right: 20px;
  font-size: 16px;
}
