.assignmentTile {
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
  flex-basis: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4a4a4a;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background: #cbeaf1;
}
