.adminSignup {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.adminSignup .frame {
  border: 1px solid #4a4a4a;
  border-radius: 4px;
  width: 50%;
  min-width: 768px;
  padding: 20px;
  background: #cbeaf1;
}

.adminSignup .adminSignupForm {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  align-items: center;
}

.adminSignup .submitButton {
  grid-column-start: 1;
  grid-column-end: 3;
}

.adminSignup input.passwordMatch, input.passwordMatch:focus {
  box-shadow: 0 0 5px green;
  border: 1px solid green;
}

.adminSignup input.passwordNonmatch, input.passwordNonmatch:focus {
  box-shadow: 0 0 5px red;
  border: 1px solid red;
}
