.problemShow .backButtonAndText {
  cursor: pointer;
}

.problemShow .backButton {
  margin-right: 20px;
}

.problemShow .canonicalSolutionLink {
  margin-bottom: 20px;
  font-size: 24px;
}

.problemShow .description {
  white-space: pre-wrap;
}
