.login {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.login .frame {
  width: 30%;
  min-width: 300px;
}

.login .loginButtons {
  margin-top: 30px;
}

.login .loginButton {
  width: 100%;
  margin-bottom: 10px;
}

.login .loginButton .name {
  margin-left: 10px;
}
